<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.hanjjie.cloud.dao.PaymentDAO">

    <insert id="add" parameterType="PaymentDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO payment(order_id, type, money, time)
        VALUES (#{orderId}, #{paymentType}, IFNULL((SELECT IFNULL(money, 0) - IFNULL(discount, 0) FROM `order` WHERE id = #{orderId}), 0), now());
    </insert>

    <resultMap id="PaymentMap" type="top.hanjjie.cloud.entities.Payment">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="order_id" property="orderId" jdbcType="BIGINT"/>
        <id column="type" property="type" jdbcType="INTEGER"/>
        <id column="money" property="money" jdbcType="DECIMAL"/>
        <id column="time" property="time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="get" parameterType="Long" resultMap="PaymentMap">
        SELECT * FROM payment WHERE order_id = #{orderId};
    </select>

</mapper>